**/data/**
**/data/**/*
*.mat
# *.csv
*.tar
*.zip
*.tif
**/code__examples/
**/code__esempi/
**/*.DS_Store
Supervised/00_exercises/lab_08/outputs/*.pth
**/train/*
**/valid/*
**/test/*
**/saved_models/*
**/.venv/*
**/.venv311/*
**/.venv3-12-1/*
**/.venv_3_12_4/*
*.pth
*.pt
*.pt.trace.json
