**/data/**
**/data/**/*
*.mat
*.csv
*.tar
*.zip
**/code__examples/
**/code__esempi/
**/*.DS_Store
Supervised/00_exercises/lab_08/outputs/*.pth
**/train/*
**/valid/*
**/test/*
**/saved_models/*
**/.venv/*